@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

.wsc{color :#90ee90
  ;}

.delivery_today_color{
background-color:red
  ;}

.delivery_tommorow_color{
  background-color: yellow
  ;}

.delivery_a_tomorow_color{
  background-color: orange
  ;}

.r{font-weight: 700;}
