@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "tempusdominus-bootstrap-4.css";

.wsc{color :white
  ;}

.delivery_today_color{
background-color:red
  ;}

.delivery_tommorow_color{
  background-color: yellow
  ;}

.delivery_a_tomorow_color{
  background-color: orange
  ;}

.r{font-weight: 700;}

.tablesc{
  width:150px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.table_block{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
}

.koutei{
  widows:100px;
}
